@import "vars";

.button {
  background-color: $black-color;
  color: $yellow-color;
  display: block;
  cursor: pointer;
  padding: 19px 50px;
  border: none;
}

.button_yellow {
  background-color: $yellow-color;
  color: $black-color;
}