@import 'vars';
@import 'mixins';

@import "normalize";
@import "button";
@import "hero/hero";

* {
  box-sizing: border-box;
}

h2 {
  font: 30px $header-font;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}

p, a, button {
  font: 16px $text-font;
  line-height: 32px;
}

section {
  min-height: 100vh;
  background-position-x: center;
  display: flex;
}

.container {
  height: inherit;
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  padding: 20px 36px;
}


