@import 'vars';
@import 'mixins';

@import "normalize";
@import "button";
@import "hero/hero";
@import "game-preview/game-preview";

* {
  box-sizing: border-box;
}

h2 {
  font: 30px $header-font;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}

p, a, button {
  font: 16px $text-font;
  line-height: 32px;
}

a {
  color: $blue-color;
  text-decoration: none;
}

section {
  min-height: 100vh;
  background-position-x: center;
  display: flex;
}

section:not(#hero) {
  padding-top: 70px;
  padding-bottom: 70px;
}

.container {
  height: inherit;
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  padding: 20px 0;
}

.container > * {
  margin-inline: $phones-margin-inline;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 48px;
    line-height: normal;
  }

  p, a, button {
    font-size: 24px;
    line-height: 40px;
  }

  .container > * {
    margin-inline: $laptops-margin-inline;
  }
}