$yellow-color: #F8F200;
$blue-color: #52BEDC;
$white-color: #FFF;
$black-color: #000000;
$gray-color: #777777;

$header-font: 'PT Mono', monospace;
$text-font: 'Roboto', sans-serif;

$phones-margin-inline: 12px;
$laptops-margin-inline: 36px;

$container-max-width: 1280px;
$header-container-max-width: 624px;