@import '../vars';
@import '../mixins';

$game-info-bottom: -50px;

#hero {
  background-image: url("../../../assets/images/hero_carousel/1.jpg");
  min-height: calc(100vh + $game-info-bottom);

  .container {
    @include flex($direction: column, $justify-content: space-between);
    position: relative;
  }
}

.hero-header {
  width: 100%;
  @include flex($direction: column);
  gap: 10px;

  img {
    max-width: 300px;
  }

  .hero-header__links {
    @include flex($justify-content: space-around);
    width: 100%;
  }
}

.container > .game-info {
  background-color: $yellow-color;
  padding: 30px 38px;
  @include cut-corners;
  @include absolute-position($top: unset, $bottom: $game-info-bottom);
  @include flex($direction: column, $justify-content: space-between);
  gap: 25px;
  text-align: center;
  margin-inline: 0;
}

// Laptops layout

@media screen and (min-width: 1024px) {
  #hero {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #hero > .container {
    padding-bottom: 0;
    padding-inline: 36px;
  }

  .hero-header {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .hero-header__links {
      justify-content: center;
      gap: 40px;
      width: fit-content;
    }
  }

  .container > .game-info {
    position: unset;
    margin-left: auto;
    padding: 70px;
    max-width: $header-container-max-width;
    align-items: flex-start;

    h2 {
      text-align: left;
    }
  }
}
