@import '../vars';
@import '../mixins';

#hero {
  background-image: url("../../../assets/images/hero_carousel/1.jpg");
}

#hero > .container {
  @include flex($direction: column, $justify-content: space-between);
  position: relative;
}

.hero-header {
  width: 100%;
  @include flex($direction: column);
  gap: 10px;

  .hero-header__links {
    @include flex($justify-content: space-around);
    width: 100%;
  }
}

.game-info {
  background-color: $yellow-color;
  padding: 30px 38px;
  @include cut-corners;
  @include absolute-position($top: unset, $bottom: -50px);
  @include flex($direction: column, $justify-content: space-between);
  gap: 25px;
  text-align: center;
}